<div class="container-fluid border-box">
    <div class="row nowrap text-light d-flex justify-content-between align-items-center flex-column flex-lg-row">
        {% if (footer_funds_flag != null or footer_funds_text != '') %}
        <div class="funding flex-column my-1 my-lg-0 flex-lg-row px-1 align-items-center col-md col-xs-12">
            {% if footer_funds_flag %}
				<img class="text mr-0 mr-lg-1" style="height:50px;" src="{{ footer_funds_flag }}"/>
            {% endif %}
            {% if footer_funds_text %}
				<span class="align-items-center mt-md-0 mt-1">{{footer_funds_text}}</span>
            {%endif %}
        </div>
        {% endif %}
        {% if (enable_social_media) %}
        <div class="social-networks px-1 col-md-2 col-xs-12">
            <div class="icons">
                {% if enable_facebook and facebook_url %}
                    <a href="{{facebook_url}}" target="_blank" class="btn p-primary pr p-facebook " target="_blank" style="padding: 0 6px;" ></a>
                {% endif %}
                {% if enable_twitter and twitter_url %}
                    <a href="{{twitter_url}}" target="_blank" class="btn p-primary pr p-twitter" target="_blank" style="padding: 0 6px;" ></a>
                {% endif %}
                {% if enable_linkedin and linkedin_url %}
                    <a  href="{{linkedin_url}}" target="_blank" class="btn p-primary pr p-linkedin" target="_blank" style="padding: 0 6px;" ></a>
                {% endif %}
                {% if enable_youtube and youtube_url %}
                    <a  href="{{youtube_url}}" target="_blank" class="btn p-primary pr p-youtube" target="_blank" style="padding: 0 6px;" ></a>
                {% endif %}
				{% if enable_instagram and instagram_url %}
                    <a  href="{{instagram_url}}" target="_blank" class="btn p-primary pr p-instagram" target="_blank" style="padding: 0 6px;" ></a>
                {% endif %}
				{% if enable_researchgate and researchgate_url %}
                    <a  href="{{researchgate_url}}" target="_blank" class="btn p-primary pr p-researchgate" target="_blank" style="padding: 0 6px;" ></a>
                {% endif %}
            </div>
        </div>
        {% endif %}
		<div class="col-md-2 col-xs-12"><a style="flex:0 0 auto;" href="/privacy-policy">Read our Privacy Policy</a></div>
		<div class="col-md-3 col-xs-12"><div class="powered-by my-1 my-lg-0 px-1 align-items-center justify-content-end"><span class="mr-1">Designed and powered by</span><a href="{{config('link.pensoft')}}" target="_blank"><img class="text" src="{{ 'assets/images/pensoft-logo.svg'|theme }}" style="margin-top: 8px;
    height: 27px;"/></a></div></div>
    </div>
</div>
