.library-container + .library-container {
    .border-top;
    margin-top: 2rem;
    padding-top: 2rem;
}
.libraryForm {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.library-item img{
  margin: 0 auto;
  width: auto;
  display: table;
  padding: 19px;
  background: #E0E2E0;
  border-radius: 10px;
}

.library-item{
  .col-xs-3{

    .breakpoint-huge-down({
       flex-basis: unset;
       max-width: unset;
    });
    .breakpoint-medium-down({
       flex-basis: 100%;
       max-width: 100%;
    });
  }
}