.library-container + .library-container {
    .border-top;
    margin-top: 2rem;
    padding-top: 2rem;
}
.libraryForm {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.library-item img{
  margin: 0 auto;
  width: auto;
  display: table;
  padding: 19px;
  background: #E0E2E0;
  border-radius: 10px;
}

.library-item{
  .col-xs-3{

    .breakpoint-huge-down({
       flex-basis: unset;
       max-width: unset;
    });
    .breakpoint-medium-down({
       flex-basis: 100%;
       max-width: 100%;
    });
  }
}


.container:has(.searchLibrary){
    position: relative;
    margin-top: 80px;

    .row.center-xs.mb-1{
        position: absolute;
        top: -10px;
        height: 90px;
        left: calc(~"50% - 183px");

    }
}
#searchLibrary{
    position: absolute;
    top: 86px;
    right: 0;
    form{
        width: 386px;
        height: 48px !important;
        .breakpoint-large-down({
            margin: 0 0 0 8px;
            width: 95%!important;
        });
    }

    input, select{
        height: 47px;
        color: @default-color!important;
    }

    .form-control {
        display: block;
        width: 100%;
        font-size: 18px;
        color: #122642;
        background-color: #ffffff;
        border-radius: 0px 0px 0px 0px;
        -moz-border-radius: 0px 0px 0px 0px;
        -webkit-border-radius: 0px 0px 0px 0px;
        border: 1px solid #d1d1d1;
        border-right: none;
        .rounded-tl(50px);
        .rounded-bl(50px);
    }

    .search {
        background: #ffffff;
        position: unset!important;

        width: 100%;
        font-size: 18px;
        color: #122642;
        box-sizing: border-box;
        padding: 0.7rem 1rem;
        line-height: 1.3em;
    }

    .btn.searchLibrary {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 0 !important;
        line-height: unset !important;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-bottom: 1px solid #d1d1d1;
        border-top: 1px solid #d1d1d1;
        border-right: 1px solid #d1d1d1;
        padding: 0;
        height: 47px;
        width: 67px;
        background-size: 26px;
        order: 2;
        &:before {
            content: "\ea82";
            display: flex;
            font-family: "icomoon";
            font-weight: 400;
            font-size: 40px;
        }
    }

    .btn-reset {
        border: none;
        border-bottom: 1px solid #d1d1d1;
        border-top: 1px solid #d1d1d1;
        //border-right: 1px solid #d1d1d1;
        height: 47px;
        width: 67px;
        padding: 0;
        font-size: 18px;
        line-height: 47px;
        text-align: center;
        color: #AFB8BC;
    }

    .breakpoint-large-down({
        margin: 0 0 0 0;
        width: 95%!important;
        display: unset;
    })
}

.library, .videos, .press-releases{
    .tabs{
        margin-bottom: 40px;
        width: 100%;
        display: block;
        text-align: left;
        margin-top: 50px;
        .btn-primary{
            .breakpoint-small-down({
                margin-bottom: 20px;
            });
        }
        .breakpoint-small-down({
            margin-bottom: 20px;
            text-align: center;
        });
        a{
            margin-right: 20px;
            width: fit-content;
            font-weight: bold;
            cursor: pointer;
            font-family: Oswald;
            color: @green-color!important;
            .breakpoint-small-down({
                margin-left: 0px;
                width: 100%;
                text-align: center;
            });

            &.active{
                opacity: 0.6;
            }
        }

    }
}