.news-title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: flex-start;

    h1{
      color: @green-color!important;
      font-weight: normal;
    }

    h1 > a {
        .text-dark;
    }

    .card-title{
        color: @green-color;
        font-weight: normal;
        * {
          color: @green-color;
          font-family: "Oswald";
        }
    }
}
.news-item {
    display: flex;
}

.news-image{
  margin-bottom: @margin-base-space;
}

.breakpoint-small-down ({
    .news-item {
        flex-direction: column;
    }
    .news-image + .news-container {
        margin-left: 0;
        margin-top: @margin-base-space;
    }
});
.news-item + .news-item  {
    /*margin-top: 3rem;
    padding-top: 3rem;
      background-image: linear-gradient(to right, #51525a 50%, transparent 50%);
      background-position: top;
      background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
      background-size: 10px 1px;*/
}
.news-image + .news-container {
    margin-left: 0;
    .breakpoint-small-down({
      margin-left: 0;
    });
}

.share-btn {
  color: @white-color;
  background: @green-color;
  padding: 0 8px 0 6px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.body{
  color: @text-color-default;
  font-size:18px;
}


.info{
  color: @green-color;
  font-size: 17px;
  a{
    color: @green-color;
  }
}

.news_column{
  max-width: 95%;
  margin: 50px 0;
  .breakpoint-small-down({
    max-width: unset;
  });
}

.news-img-left, .content.left{
  .rounded(10px);
  .breakpoint-small-down({
    width: 100%;
  });
}

.content{
  margin-right: 35px!important;
}

.news-img-top{
  border-radius: 50%;
  display: inline-flex;
}

.file_preview{
    width: 75%;
    height: 250px;
    line-height: 100px;
    border: 20px solid #ebebeb;
    .rounded(10px);
    text-align: center;
    text-transform: uppercase;
    color: #132f58;
    margin: 0 auto;
    font-weight: bold;
}

.pdf_preview{
    border: 20px solid #ebebeb;
    .rounded(10px);
    margin: 0 auto;
    text-align: center;
}

.item-test-publication{
  margin-top: 50px;
}

.newslist{
  align-items: flex-start;
}


.category-tabs-container{
    display: flex;
    justify-content: start;
    align-items: center;

    a{
        margin-right: 40px;
        width: fit-content;
        font-weight: bold;
        cursor: pointer;
        font-family: Oswald;
        color: @green-color!important;
        font-size: 1.3em;
        .breakpoint-small-down({
            margin-right: 0px;
            width: 100%;
            text-align: center;
        });

        &.active, &:hover{
           opacity: 0.6;
        }

        &:not(:last-child){
            margin-right: 40px;
            .breakpoint-small-down({
                margin-right: 0;
            });
        }

        .breakpoint-large-down({
            margin-bottom: 18px;
        });

    }
    .category-tabs{
        .breakpoint-large-down({
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        });
    }
    .breakpoint-large-down({
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    });

}

.home-news, .home-results{
  .base_heading {
    font-size: 40px !important;
    text-align: start;
    margin-bottom: 30px;
  }
}
.home-news {
  padding: 50px 0;

  .newslist {
      .news-item {
          margin-bottom: 30px;
          .news-card {
              width: 495px;
              height: 420px;
              position: relative;
              background-color: #F2F2F2;
              border: none;
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
              border-radius: 10px;
              overflow: hidden;
              transition: transform 0.3s ease-in-out;
              .news-date {
                color: #E2A225;
                font-size: 16px;
                margin-bottom: 10px;
            }
              &:hover {
                  transform: translateY(-10px);
              }

              .news-card-image{
                width: 100%;
                height: 200px;
                img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 10px 10px 0px 0px;
                }
                .breakpoint-large-down({
                  width: 100%;
                });
              }

              .news-card-content {
                  padding: 20px;
                  .news-title{
                    color:#8CA03C;
                    font-size: 20px;
                  }
              }
              .breakpoint-large-down({
                width: 100%;
              });
          }
      }
  }

  .news-button {
      background-color: #6DB648;
      color: white;
      padding: 10px 20px;
      border-radius: 50px;
      font-size: 1.1em;
      transition: background-color 0.3s ease-in-out;

      &:hover {
          background-color: #568A36;
          text-decoration: none;
      }
  }
}

.home-results {
  position: relative;

  .arrow-row{
    .breakpoint-large-down({
      margin-right: 0;
      margin-left: 0;
    });
  }

  &:before {
      content: "";
      width: calc(~'80vw - 70%');
      height: 100%;
      background: linear-gradient(to right, rgba(255, 255, 255, 0.7) 25%, rgba(255, 255, 255, 0));
      position: absolute;
      z-index: 9;
      left: 0;
      top: 0;
      .breakpoint-large-down({
          display: none;
      });
  }

  &:after {
      content: "";
      width: calc(~'80vw - 70%');
      height: 100%;
      background: linear-gradient(to left, rgba(255, 255, 255, 0.7) 25%, rgba(255, 255, 255, 0));
      position: absolute;
      z-index: 9;
      right: 0;
      top: 0;
      .breakpoint-large-down({
          display: none;
      });
  }

  .slick-slide{
    // width: 408px !important;
    min-height: unset !important;
    background: unset !important;
    .breakpoint-large-down({
      min-width: unset !important;
    });
  }

  .trigger_prev, .trigger_next{
    width: 46px;
    height: 46px;
    background-color: #8CA03C;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;
    &:hover{
      opacity: 0.8;
    }
    &:after{
      content: '';
      position: absolute;
      background: url(../../assets/images/arrow-news.svg) center no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
    }
  }

  .trigger_prev{
    transform: rotate(180deg);
    margin-right: 6px;
  }

  .results-card{
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    margin-right: 20px;

    .results-card-content{
      padding: 20px 40px;
      min-height: 280px;
      border-radius: 10px;
      background-color: #F9F9F9;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .results-btn-container{
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .results-date{
      color: #E2A225;
      font-size: 16px;
      margin-bottom: 10px;
    }

    .results-label{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      border-radius: 10px 0px;
      top: 0;
      left: 0;
      padding: 8px 14px;
      min-width: 100px;
      background: #E2A225;
      color: @white-color;
      font-size: 16px;
      font-family: 'Muli';
    }

    .results-title{
      color: #8CA03C;
      font-size: 22px;
      font-family: 'Oswald';
    }
    .view_all{
      max-width: 181px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .results-text{
      color: #6C6C6C;
      font-size: 16px;
    }
    .results-card-image{
      width: 100%;
      height: 257px;
      img{
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 768px) {
  .newslist .news-item {
      .news-card-content {
          h2 {
              font-size: 1.2em;
          }
          p {
              font-size: 0.9em;
          }
      }
  }
}
