.pr.normal{
  margin-top: -2px;
}

ul.partners_logos_list{
  list-style-type: none;
  padding: 0px;
  margin: 0;
  display: block;
}
ul.partners_logos_list li{
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  margin: 17px 17px 0 0;
  background: @secondary-color;
  border-radius: 50%;
  padding: 20px;
  .breakpoint-small-down({
    margin: 17px 4px 0 4px;
  });

}


ul.partners_logos_list li {
  margin-top: 1rem;
  transition: all .3s ease-in-out;
}

ul.partners_logos_list li:hover{
  margin-top: 0;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.partner_cover{

}

.partner_cover.width{
  height: 119px;
  width: 119px;
  line-height: 140px!important;
}

.partner_cover.height{
  text-align: center;
  height: 119px;
  width: 119px;
  line-height: 185px!important;
}

.fill_default.fill_ES:hover,
.fill_default.fill_AU:hover,
.fill_default.fill_FR:hover,
.fill_default.fill_DE:hover,
.fill_default.fill_BG:hover,
.fill_default.fill_HU:hover,
.fill_default.fill_PT:hover,
.fill_default.fill_GB:hover,
.fill_default.fill_RO:hover,
.fill_default.fill_SE:hover,
.fill_default.fill_BE:hover,
.fill_default.fill_NL:hover,
.fill_default.fill_IT:hover,
.fill_default.fill_EE:hover,
.fill_default.fill_CH:hover
{
  cursor: pointer;
}

/*advisory-board-container */

.advisory-board-container{

  h3.underline{
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    text-align: left;
    color: #555555;
    font-family: "Oswald";
    display: block;
    font-size: 36px;
    line-height: 1.7em;
  }

  .card_profiles{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .cards{
    margin-left: 0.5rem!important;
    margin-right: 0.5rem!important;
    &.justify-content-between{
      justify-content: left!important;
    }
  }

  .card.profile {
    width: 370px !important;
    height: 530px;
    background-color: #ffffff;
    padding: 20px !important;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 2rem;
    font-family: Muli;

    i.pr {
      color: #8ca03c;
    }

    img{
      width: 250px;
      height: 250px;
    }

    .breakpoint-small-down({
      margin: 1rem auto;
    });
  }

  .card.profile:hover, .card-profiles:hover, .card-container:hover{
    opacity: 1;
  }

  .card.profile .card-header{
    color: #555555;
  }

  .card-profile:hover a, .card-profiles:hover a{
    background: none;
    color: #00809e!important;
  }

  .card-profile a:hover{
    color: #8ca03c!important;
  }


}




.advisory-board-container2{

  .card-container{
    background-color: #ffffff;
  }

  .card .card-body{
    color: #555555!important;
  }

  h3.underline{
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    text-align: left;
    color: #555555;
    font-family: "Oswald";
    display: block;
    font-size: 36px;
    line-height: 1.7em;
  }

  .card_profiles{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .cards{
    margin-left: 0.5rem!important;
    margin-right: 0.5rem!important;
    &.justify-content-between{
      justify-content: left!important;
    }
  }

  .card.profile {
    width: 370px !important;
    /*height: 530px;*/
    background-color: #e0e2e0;
    padding: 20px !important;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 2rem;
    font-family: Muli;
    color: #555555;

    i.pr {
      color: #8ca03c;
    }

    img{
      width: 250px;
      height: 250px;
    }
    
    .country{
      display: none;
    }

    .breakpoint-small-down({
      margin: 1rem auto;
    });
  }

  .card.profile:hover, .card-profiles:hover, .card-container:hover{
    opacity: 1;
  }

  .card.profile .card-header{
    color: #555555;
  }

  .card-profile:hover a, .card-profiles:hover a{
    background: none;
    color: #00809e!important;
  }

  .card-profile a:hover{
    color: #8ca03c!important;
  }

  .card-img-top{
    border-radius: unset!important;
    margin: unset!important;
    margin-bottom: 20px!important;
    width: unset!important;
    height: unset!important;
  }


}