<div class="container-fluid homepage-intro">

    <div class=" container intro-container">
        <h1 class="underline white  home-page-header">{{tag_line}}</h1>
    </div>

    <div class="video-carousel">
        <div class="video-carousel-1">
            <video autoplay muted loop>
                <source src="{{ 'video1.mp4'|media }}" type="video/mp4">
            </video>
        </div>
        <div class="video-carousel-2">
            <video autoplay muted loop>
                <source src="{{ 'video2.mp4'|media }}" type="video/mp4">
            </video>
        </div>
        <div class="video-carousel-3">
            <video autoplay muted loop>
                <source src="{{ 'video3.mp4'|media }}" type="video/mp4">
            </video>
        </div>
    </div>


</div>
