url = "/media-center/awareness-raising-materials"
layout = "default"
title = "Awareness-raising materials"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[builderList mediaDocumentsList]
modelClass = "pensoft\Media\Models\Documents"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<?php
use Pensoft\Media\Models\Documents;
use System\Models\File;

function onStart(){
	$this['mediaDocumentsList'] =  Documents::get();
$this['documents'] =  Documents::orderBy('title')->get();
if(get('download')){
$file = File::find((int)get('download'));
$file_name = $file->getLocalPath();
$recordName = post('file_name') ? post('file_name') : 'SHOWCASE_flyer';
$ext= $file->getExtension();

if (file_exists($file_name)) {
header('Content-Description: File Transfer');
header('Content-Type: application/octet-stream');
header("Content-Type: application/force-download");
header('Content-Disposition: attachment; filename='.$recordName .'.'. $ext);
header('Content-Transfer-Encoding: binary');
header('Expires: 0');
header('Cache-Control: must-revalidate, post-check=0, pre-check=0');
header('Pragma: public');
header('Content-Length: ' . filesize($file_name));
ob_clean();
flush();
readfile($file_name);
exit();
}
return Redirect::to('/media-center/flyer');
}


}
?>
==
<div class="container">
    <div class="row">
        {% set records = mediaDocumentsList %}
        {% set displayColumn = mediaDocumentsList.displayColumn %}
        {% set noRecordsMessage = mediaDocumentsList.noRecordsMessage %}
        {% set detailsPage = mediaDocumentsList.detailsPage %}
        {% set detailsKeyColumn = mediaDocumentsList.detailsKeyColumn %}
        {% set detailsUrlParameter = mediaDocumentsList.detailsUrlParameter %}


        <!--        //stickers and others-->
        {% for record in records %}

        {# Use spaceless tag to remove spaces inside the A tag. #}
        {% spaceless %}
        {% if record.image %}
        <div class="col-xs-12 col-lg-4">
            <div class="story broshure_and_poster">
                <p align="center"><a href="{{record.file.path}}" target="_blank"><img src="{{record.image.thumb(250,250,{'mode':'crop'})}}" title="{{record.title}}"> </a></p>
            </div>
            <div class="media-size text-center"><b>{{record.title}}</b></div>
            {% if record.file %}
            <div class="media-btn_broshure_and_poster text-center mt-1 mb-1">
                <a class="btn btn-secondary" style="padding: 5px 18px;" href="{{ ''| page }}?{{queries}}&download={{record.file.id}}&file_name={{record.file.file_name|replace({' ': '_'})}}"><i class="pr p-download"></i>  Download</a></div>

            <div class="media-size text-center">&nbsp;</div>
            {% endif %}
        </div>
        {% endif %}
        {% endspaceless %}
        {% else %}
        {{ noRecordsMessage }}
        {% endfor %}
    </div>
</div>