title = "Events"
url = "/events/:slug?|[a-zA-Z\-0-9]"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[calendar]
default = "true"
limit = 10
category = "null"
language = "en"
==
<?php
use ChristophHeich\Calendar\Models\Entry;
use Carbon\Carbon;

function onStart(){

    if($this->param('slug')){
		$this['entry'] =  Entry::select(
			'*',
			'title',
			'place',
			'description',
			'url',

			DB::raw("to_char(\"start\", 'DD') as start_day"),
			DB::raw("to_char(\"start\", 'YYYY') as start_year"),
			DB::raw("to_char(\"end\", 'DD') as end_day"),
			DB::raw("to_char(\"end\", 'YYYY') as end_year"),
			DB::raw("to_char(\"start\", 'month') as start_month"),
			DB::raw("to_char(\"end\", 'month') as end_month"),
			DB::raw("
				\"end\" is not null as has_end
			")
			
			
		)->where('slug', $this->param('slug'))->first();
	}
    
    //$slug = (int)$this->param('slug') ? (int)$this->param('slug') : 1;
	//$this['SelectedLanguage'] = App::getLocale();
    //$this['slug'] = !(is_numeric($this->param('slug')) || $this->param('slug') == null);
	$this['entries'] = Entry::where('start', '>', Carbon::now())->orderBy('start', 'asc')->paginate(20);
    $this['slug'] = $this->param('slug');
}
?>
==
<div class="container">
{% if not slug %}
	<div class="tabs">
		<a class="" href="#calendarView">Calendar view</a>
		<a class="" href="#listView">List view</a>
	</div>
	<div class="row" id="calendarView">
		{% component 'calendar' %}
	</div>
	<div class="row" id="listView">
		<div class="events_list_container">
			{% for entry in entries %}
			{% set url = entry.url ?  entry.url : '/events/' ~ entry.slug %}

			<div class="event_list_item">
				<div class="row between-xs time_and_date">
					<div class="col-md start-md col-xs-12 center-xs">{{entry.event_date}}</div>
					<div class="col-md end-md col-xs-12 center-xs">{{entry.start|date('l')}}</div>
				</div>
				<div class="row">
					<!--<div class="col-xs-1">{{entry.start|date('g:i')}}</div> <div class="col-xs-11">{{entry.title}}</div>-->
					<div class="col-md-2 start-md col-xs-12 center-xs">{{entry.event_time}}</div> <div class="col-md-10 start-md col-xs-12 center-xs"><a class="button" href="{{ url }}" target="_blank">{{entry.title}}</a></div>
				</div>
			</div>

			{% endfor %}
		</div>
		<div class="row container">
			{{ entries.fragment('listView').render|raw }}
		</div>

	</div>
{% else %}

    {% if entry %}
    <div class="fr-view">
        <h1>{{ entry.title }}</h1>
        <div class="text-published mt-2">
            {{entry.event_date}}
            {{entry.event_time}}
        </div>
        <div class="text bold mt-2">{{ entry.place }}</div>
        <div class="event-container d-flex">

            <div class="mt-2">
                {% if entry.cover_image %}
                    <img class="mr-2 mb-2 float-right" src="{{entry.cover_image|crop_image|resize(500, auto, {'mode':'crop'})}}" alt="entry.cover_image.title">
                {% endif %}
                {{ entry.description|raw }}
            </div>
        </div>
        {% if entry.url %}
        <a class="mt-2 button" href="{{ entry.url }}" target="_blank">{{ 'To the event'|_ }}</a>
        {% endif %}
    </div>
    
    {% else %}
    {% endif %}

{% endif %}

</div>
<script>
	var documentHasScroll = function() {
		return window.innerHeight <= document.body.offsetHeight;
	};
	function ready() {
		keepFooter(documentHasScroll());
	}
	document.addEventListener("DOMContentLoaded", ready);
</script>