url = "/"
layout = "default"
title = "SHOWCASing synergies between agriculture, biodiversity and Ecosystem services to help farmers capitalising on native biodiversity"
is_hidden = 0
meta_description = "SHOWCASing synergies between agriculture, biodiversity and Ecosystem services to help farmers capitalising on native biodiversity"
seo_keywords = "keywords"
robot_index = "index"
robot_follow = "follow"

[article_highlights]
maxItems = 10
title = "News and Events"
baseUrl = "/news"
templates = "template2"
thumb_width = 250
thumb_height = 250
title_max_length = 150

[publications_list]
baseUrl = "/news"
templates = "template2"

[jumbotron]
jumbotron = "homepage"
title = 0
background = "#ffffff"
templates = "template1"
description_limit = 0

[Timeline]
limit = 3
upcoming = 1
templates = "template1"
==
<?php
use Pensoft\Articles\Models\Article;

function onStart(){

	$this['highlights'] = Article::news()->where('published', 'true')->descPublished()->take(3)->get();

	$this['results'] = Article::news()->descPublished()->whereHas('categories', function($q) {
		$q->where('name', 'Results');
	})->take(8)->get();

}
?>
==
{% component 'jumbotron' %}

<!-- Results -->
{% if results.count() %}
<div class="container-fluid bg-secondary">
	<div class="home-results">
		<div class="container pb-2">
			<div class="row justify-content-between">
				<h2 class="base_heading">Results</h2>
				<div class="row arrow-row">
					<div class="trigger_prev"></div>
					<div class="trigger_next"></div>
				</div>
			</div>
		</div>
		<div class="results-carousel">
			{% for result in results %}
			<div class="results-item">
				<div class="results-card">
					<div class="results-card-image">
						<a href="/news/{{result.slug}}">
							<img src="{{ result.cover.path }}" alt="{{ result.title }}">
						</a>
					</div>
					<div class="results-card-content">
						{% if result.label %}
						<div class="results-label">{{ result.label }}</div>
						{% endif %}
						<p class="results-date">{{ result.published_at|date("d M Y") }}</p>
						<a href="/news/{{result.slug}}">
							<p class="results-title">
								{{ result.title|slice(0, 69) }}{% if result.title|length > 69 %}...{% endif %}
							</p>
							<p class="results-text">
								{% if result.content|striptags|raw|length > 96 %}
								{{ result.content|striptags|truncate(96, true, "...")|raw }}
								{% else %}
								{{ result.content|striptags|raw }}
								{% endif %}
							</p>
						</a>
						<a class="btn btn-primary view_all" href="/news/{{result.slug}}">Learn more<i></i></a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}

<!-- Latest news -->
{% if highlights.count() %}
<div class="container-fluid home-news">
	<div class="container">
		<h2 class="base_heading">Latest news</h2>
		<div class="row newslist">
			{% for highlight in highlights %}
			<div class="col-md-4 col-xs-12 news-item">
				<div class="news-card">
					<div class="news-card-image">
						<a href="/news/{{highlight.slug}}">
							<img src="{{ highlight.cover.path }}" alt="{{ highlight.title }}">
						</a>
					</div>
					<div class="news-card-content">
						<p class="news-date">{{ highlight.published_at|date("d M Y") }}</p>
						<a href="/news/{{highlight.slug}}">
							<p class="news-title">
								{{ highlight.title|slice(0, 155) }}{% if highlight.title|length > 155 %}...{% endif %}
							</p>
						</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="row justify-content-center">
			<a class="btn btn-primary view_all" href="{{'news'|page}}">Check out all news <i></i></a>
		</div>
	</div>
</div>
{% endif %}

<!-- Subscribe -->
<div class="container subscriber">
	<div class="row between-xs subscriber-row">
		<div class="col-md-7 col-xs-12">
			<h2>Stay connected! Subscribe to our newsletter or share your feedback with us.</h2>
		</div>
		<div class="col-md-5 col-xs-12">
			<div class="row end-xs">
				<a class="btn btn-primary view_all" href="https://dashboard.mailerlite.com/forms/607105/101080064873989335/share" target="_blank">Subscribe <i></i></a>
				<a class="btn btn-primary view_all" href="{{'contact'|page}}">Share feedback <i></i></a>
			</div>
		</div>
	</div>
</div>