url = "/"
layout = "default"
title = "SHOWCASing synergies between agriculture, biodiversity and Ecosystem services to help farmers capitalising on native biodiversity"
is_hidden = 0
meta_description = "SHOWCASing synergies between agriculture, biodiversity and Ecosystem services to help farmers capitalising on native biodiversity"
seo_keywords = "keywords"
robot_index = "index"
robot_follow = "follow"

[article_highlights]
maxItems = 10
title = "News and Events"
baseUrl = "/news"
templates = "template2"
thumb_width = 250
thumb_height = 250

[publications_list]
baseUrl = "/news"
templates = "template2"

[jumbotron]
jumbotron = "homepage"
title = 0
background = "#ffffff"
templates = "template1"
description_limit = 0

[Timeline]
limit = 3
upcoming = 1
templates = "template1"
==
<?php
use Pensoft\Articles\Models\Article;

function onStart(){

$this['highlights'] = Article::news()->descPublished()->take(10)->get()->map(function($item){
                        $item->content = str_limit(strip_tags($item->content), 100);
                        $item->href = $item->slug;
                        return $item;
});

}
?>
==
<!-- latest from news -->
{% component 'jumbotron' %}
<div class="container-fluid banner bg-secondary">

    <div class="container highlights-news">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="base_heading">{{title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="card-carousel" class="card-carousel">
                    {% for highlight in highlights %}
                    <div class="card horizontal mx-1 card-link card-new-item">
                        <div class="text-published">{{highlight.pretty_published_at}}</div>
                        {% if highlight.href %}
                        <a href="/news/{{highlight.href}}">
                            {% endif %}
                            {% if highlight.cover %}

                            <img class="card-img-top" src="{{ highlight.cover.thumb(250, 250, {'mode': 'crop'}) }}">
                            {% endif %}
                            {% if highlight.content or highlight.title %}
                            <div class="card-body">
                                {% if highlight.title %}
                                <h3 class="card-title">{{highlight.title|raw}}</h3>
                                {% endif %}
                            </div>
                            {% endif %}

                            {% if highlight.href %}
                        </a>
                        {%endif %}
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div class="container">
		{% component 'Timeline' %}
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs">
			{% component 'publications_list' %}
		</div>
	</div>
	<div class="container">
		<div class="row d-flex justify-content-evenly">
			<div class="col-sm-5 col-xs-12">
				{% if this.theme.twitter %}
				<a class="twitter-timeline" data-width="500" data-height="300" href="https://twitter.com/SHOWCASE_H2020?ref_src=twsrc%5Etfw">Tweets by SHOWCASE_H2020</a> 
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				{% endif %}
			</div>
			<div class="col-sm-4 col-xs-12">
	
				<div class="subscribe-container">
					<div class="subscribe-items d-flex justify-content-evenly flex-column">
						<a href="/calendar" class="btn btn-primary fluid">Calendar</a>
	
						{%if this.theme.subscribe%}
						<a href="{{this.theme.subscribe}}" target="_blank" class="btn btn-primary fluid">Subscribe</a>
						{%endif%}
	
						{%if this.theme.feedback%}
						<a href="mailto:{{this.theme.feedback}}" class="btn btn-primary fluid">Feedback</a>
						{%endif%}
					</div>
					<div class="subscribe-items text-center d-flex justify-content-evenly">
						{% if this.theme.twitter %}
						<a href="{{this.theme.twitter_url}}" target="_blank" class="btn p-primary pr p-twitter big"></a>
						{% endif %}
						{% if this.theme.facebook %}
						<a href="{{this.theme.facebook_url}}" target="_blank" class="btn pr p-primary p-facebook big"></a>
						{% endif %}
						{% if this.theme.linkedin %}
						<a href="{{this.theme.linkedin_url}}" target="_blank" class="btn pr p-primary p-linkedin big"></a>
						{% endif %}
						{% if this.theme.youtube %}
						<a href="{{this.theme.youtube_url}}" target="_blank" class="btn pr p-primary p-youtube big"></a>
						{% endif %}
						{% if this.theme.instagram %}
						<a href="{{this.theme.instagram_url}}" target="_blank" class="btn pr p-primary p-instagram big"></a>
						{% endif %}
						{% if this.theme.researchgate %}
						<a href="{{this.theme.researchgate_url}}" target="_blank" class="btn pr p-primary p-researchgate big" style="width: 64px;"></a>
						{% endif %}
					</div>
				</div>
	
	
			</div>
		</div>
	</div>
</div>