url = "/media-center"
layout = "default"
title = "Media center"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[siteSearchInclude]
==
<?php
use Pensoft\Media\Models\MediaLogos;
use Pensoft\Media\Models\Flyers;
use Pensoft\Media\Models\Newsletters;
use Pensoft\Media\Models\Presentations;
use Pensoft\Media\Models\Pressreleases;
use Pensoft\Media\Models\Videos;
use Pensoft\Media\Models\Documents;

function onStart(){
	$this['logos'] =  MediaLogos::get();
	$this['flyers'] =  Flyers::get();
	$this['newsletters'] =  Newsletters::get();
	$this['presentations'] =  Presentations::get();
	$this['pressreleases'] =  Pressreleases::get();
	$this['videos'] =  Videos::get();
	$this['documents'] =  Documents::get();
}
?>
==
{% component 'siteSearchInclude' %}
<div class="container">
    <div class="row start-sm center-xs">
		{% if logos.count() %}
        <div class="col-sm-3 col-xs-10  mt-md-0 mt-1">
			<div class="card-container">
				<a href="{{url('media-center')}}/brand-kit" title="Logo">
					<span class="card_image_container" style="background: url({{'pensoft/logo.svg'|media}}) center center no-repeat;" href="{{url('media-center')}}/brand-kit" title="Brand kit"></span>
					<span class="btn btn-secondary width100">Brand kit</span>
				</a>
			</div>
		</div>
		{% endif %}
		{% if flyers.count() %}
        <div class="col-sm-3 col-xs-10 mt-md-0 mt-1">
			<div class="card-container">
				<a href="{{url('media-center')}}/flyer" title="Promotional materials">
					<span class="card_image_container" style="background: url({{'pensoft/Brochure.svg'|media}}) center center no-repeat;" href="{{url('media-center')}}/flyer" title="Flyer and poster"></span>
					<span class="btn btn-secondary width100">Promotional materials</span>
				</a>
			</div>
        </div>
		{% endif %}
		{% if newsletters.count() %}
		<div class="col-sm-3 col-xs-10 mt-md-0 mt-1">
			<div class="card-container">
				<a href="{{url('media-center')}}/newsletters" title="Newsletters">
					<span class="card_image_container" style="background: url({{'pensoft/Newsletters.svg'|media}}) center center no-repeat;" href="{{url('media-center')}}/newsletters" title="Newsletters"></span>
					<span class="btn btn-secondary width100">Newsletters</span>
				</a>
			</div>
		</div>
		{% endif %}

		{% if presentations.count() %}
		<div class="col-sm-3 col-xs-10 mt-md-0 mt-1">
			<div class="card-container">
				<a href="{{url('media-center')}}/policy-briefs" title="Policy briefs">
					<span class="card_image_container" style="background: url({{'pensoft/Policy_brief-01.svg'|media}}) center center no-repeat;" href="{{url('media-center')}}/policy-briefs" title="Policy briefs"></span>
					<span class="btn btn-secondary width100">Policy briefs</span>
				</a>
			</div>
		</div>
		{% endif %}
		{% if pressreleases.count() %}
		<div class="col-sm-3 col-xs-10 mt-md-0 mt-1">
			<div class="card-container">
				<a href="{{url('media-center')}}/press-releases" title="Press releases">
					<span class="card_image_container" style="background: url({{'pensoft/Press_releases.svg'|media}}) center center no-repeat;" href="{{url('media-center')}}/press-releases" title="Press releases"></span>
					<span class="btn btn-secondary width100">Press releases</span>
				</a>
			</div>
		</div>
		{% endif %}
		{% if videos.count() %}
		<div class="col-sm-3 col-xs-10 mt-md-0 mt-1">
			<div class="card-container">
				<a href="{{url('media-center')}}/videos" title="Videos">
					<span class="card_image_container" style="background: url({{'pensoft/Videos.svg'|media}}) center center no-repeat;" href="{{url('media-center')}}/videos" title="Videos"></span>
					<span class="btn btn-secondary width100">Videos</span>
				</a>
			</div>
		</div>
		{% endif %}
		{% if documents.count() %}
		<div class="col-sm-3 col-xs-10 mt-md-0 mt-1">
			<div class="card-container">
				<a href="{{url('media-center')}}/awareness-raising-materials" title="Awareness-raising materials">
					<span class="card_image_container" style="background: url({{'pensoft/Presentations.svg'|media}}) center center no-repeat;" href="{{url('media-center')}}/awareness-raising-materials" title="Awareness-raising materials"></span>
					<span class="btn btn-secondary width100">Awareness-raising materials</span>
				</a>
			</div>
		</div>
		{% endif %}

    </div>
	<p>&nbsp;</p>
</div>
