url = "/synergies"
layout = "default"
title = "Synergies"
is_hidden = 0
meta_description = "synergies page"
seo_keywords = "keywords"
robot_index = "index"
robot_follow = "follow"

[siteSearchInclude]

[jumbotron intro]
jumbotron = "synergies-intro"
background = "transperant"
templates = "template3"
description_limit = 0
==
<?php
use Pensoft\Synergies\Models\Synergy;
use Pensoft\Articles\Models\Article;
use Pensoft\Partners\Models\Partners;

function onStart(){
    $this['research'] = Synergy::where('type', 1)->get();
    $this['outreach'] = Synergy::where('type', 2)->get();
    $this['partners'] =  Partners::where('type', 4)->get(); //supporting
    $this['related_news'] = Article::whereRaw(' id in (SELECT distinct(article_id) FROM pensoft_synergies_articles)')->get();
}
?>
==
{% component 'siteSearchInclude' %}


{% component 'intro' %}


<!-- research projects-->
<div class="container research_projects">
    <h1 class="display-1">Agrobiodiversity and pollination research projects join forces</h1>

</div>

<div class="row middle-xs between-xs" style="padding: 0; margin: 0;">
    <div class="col-xs-12 center-xs consortium_partners">
        <div id="research_projects">
            {% for record in research %}
            <div class="slide">
                <a data-toggle="modal" href="#content{{record.id}}">
                <div class="partner_logo">
                    <img alt="{{ record.name }}" src="{{record.logo.thumb(auto,90,{'mode':'crop'})}}">
                </div>
                </a>
            </div>
            {% endfor %}
        </div>

        {% for record in research %}
        <div class="control-popup modal fade" id="content{{record.id}}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <div class="row middle-md around-xs logo_and_btn">
                            <div class="col-md-4 col-xs-12"><img class="news-img-top" src="{{record.logo.getThumb(auto, 90, {'mode': 'crop'})}}"></div>
                            <div class="col-md-8 col-xs-12 partner_title">{{record.name}}</div>
                        </div>
                        <div class="row project_description">
                            <div class="col-md-12 col-xs-12">
                                <div class="about_label">About the project</div>
                                <p>{{record.description|raw}}</p>
                                {% if record.social_media %}
                                <div class="about_label">Follow the project on social media</div>
                                {% for social_item in record.social_media %}
                                <a href="{{social_item.link}}" target="_blank" class="btn p-primary pr p-{{social_item.media}} big"></a>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-md-12 col-xs-12"><a href="{{record.website}}" class="project_website" target="_blank">Visit website</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- end of research projects-->



<div class="container outreach_projects">
    <h1 class="display-1">Agrobiodiversity and science-policy<br> interface (SPI) projects join forces</h1>


    <div id="outreach_projects" class="projects_list">
        {% for record in outreach %}
            <a data-toggle="modal" href="#content_outreach{{record.id}}">
                <div class="partner_logo">
                    <img alt="{{ record.name }}" src="{{record.logo.thumb(320, auto,{'mode':'crop'})}}">
                </div>
            </a>
        {% endfor %}
    </div>

    {% for record in outreach %}
    <div class="control-popup modal fade" id="content_outreach{{record.id}}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="row middle-md around-xs logo_and_btn">
                        <div class="col-md-4 col-xs-12"><img class="news-img-top" src="{{record.logo.getThumb(auto, 90, {'mode': 'crop'})}}"></div>
                        <div class="col-md-8 col-xs-12 partner_title">{{record.name}}</div>
                    </div>
                    <div class="row project_description">
                        <div class="col-md-12 col-xs-12">
                            <div class="about_label">About the project</div>
                            <p>{{record.description|raw}}</p>

                            {% if record.social_media %}
                            <div class="about_label">Follow the project on social media</div>
                            {% for social_item in record.social_media %}
                            <a href="{{social_item.link}}" target="_blank" class="btn p-primary pr p-{{social_item.media}} big"></a>
                            {% endfor %}
                            {% endif %}

                        </div>
                        <div class="col-md-12 col-xs-12"><a href="{{record.website}}" class="project_website" target="_blank">Visit website</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>






<div class="container useful_platforms">
    <h1 class="display-1">Useful platforms</h1>
    <div class="row between-xs">
        {% for partner in partners %}
        <div class=" col-md-6 col-xs-12 center-xs">
            <div class="partner_item">
                <div class="row middle-xs">
                    <div class="col-md-3 col-xs-12 partner_logo">
                        <a href="{{partner.instituion_url}}" target="_blank">
                            <img title="{{ partner.instituion }}" src="{{partner.cover.path}}">
                        </a>
                    </div>
                    <div class="col-md-6 col-xs-12 partner_tile">{{ partner.instituion }}</div>
                    <div class="col-md-3 col-xs-12 partner_link">
                        <a href="{{partner.instituion_url}}" target="_blank">
                            Visit website
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 partner_description">
                        {{partner.content|raw}}
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>





<!-- News -->
{% if related_news.count %}
<!-- latest from news -->
<div class="highlights-news">
    <div class="container">
        <h1 class="display-1">News</h1>
    </div>

    <div class="container prev-nex-container">
        <div class="trigger_prev_arrow"></div>
        <div class="trigger_next_arrow"></div>
    </div>

    <div class="trigger_prev"></div>
    <div class="trigger_next"></div>

    <div class="container highlights-news-slider-container">
        <div class="related-news-carousel">
            {% for highlight in related_news %}
            <div class="col-md-4 col-xs-12 news-item">
                <div class="news-card">
                    <div class="news-card-image">
                        <a href="/news/{{highlight.slug}}">
                            <img src="{{ highlight.cover.path }}" alt="{{ highlight.title }}">
                        </a>
                    </div>
                    <div class="news-card-content">
                        <p class="news-date">{{ highlight.published_at|date("d M Y") }}</p>
                        <a href="/news/{{highlight.slug}}">
                            <p class="news-title">
                                {{ highlight.title|slice(0, 155) }}{% if highlight.title|length > 155 %}...{% endif %}
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endif %}

<!-- Subscribe -->
<div class="container subscriber">
    <div class="row between-xs subscriber-row">
        <div class="col-md-7 col-xs-12">
            <h2>Stay connected! Subscribe to our newsletter or share your feedback with us.</h2>
        </div>
        <div class="col-md-5 col-xs-12">
            <div class="row end-xs">
                <a class="btn btn-primary view_all" href="https://dashboard.mailerlite.com/forms/607105/101080064873989335/share" target="_blank">Subscribe <i></i></a>
                <a class="btn btn-primary view_all" href="{{'contact'|page}}">Share feedback <i></i></a>
            </div>
        </div>
    </div>
</div>
